@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Castra - Your clothes, Your choice.</h1>
            </hgroup>
            <p>
               The perfect place to find the perfect dress, the perfect shirt, the perfect YOU!
            </p>
        </div>
    </section>
}

<aside id="video">
    <video width="320" height="240" controls>
        <!--<source src=" https />/www.youtube.com/watch?v=lhUnZtZbIpk" type="video/mp4">-->
        <source src="~/Video/fashion2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</aside>
<h1 id="pq">POPULAR QUESTIONS</h1>
<div id="questions">
    <h3>I'm a US customer. How do I return something to you?</h3>
    We want to give you a hassle-free way to return anything, so you can return any item to us within 28 days of receiving your original order, including sale items. Its free and fully trackable.
    <h3>How does the Express 2-Day Shipping method work?</h3>
    If you choose US Express 2-Day Shipping: It costs $12 and is fully trackable. Your parcel will arrive within 2 business days (excluding weekends and public holidays).
    <h3>How does the US Standard Delivery shipping method work?</h3>
    If you choose US Standard Shipping: It's fully trackable. If your order is above $25.00, no delivery charge will be applied.
    <h3>Have my returned items arrived back at your warehouse?</h3>
    We provide a hassle-free way to return your items back to Castra within 28 days of receiving your original order, including sale items. Returns can take up to 10 working days (excluding weekends and public holidays) to arrive at our warehouse in returned from the US.
</div>


<style>
    #questions {
         -webkit-column-count: 2; 
         -moz-column-count: 2; 
          column-count: 2;
    }
    #pq {
        text-shadow: 3px 3px 3px #808080;
    }
    #video {
        float: right;
        padding: 50px;
    }
</style>