@model IEnumerable<Castra.Controllers.ProductsByType>

@{
    ViewBag.Title = "ProductsByType";
}
<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <th>Product Type &nbsp;&nbsp;</th>
        <th>Count</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Type</td>
        <td>@item.Count</td>
    </tr>
}
</table>